backend/scripts/images
multiverse/multiverse.xcodeproj/project.xcworkspace/xcuserdata/biubiu.xcuserdatad/UserInterfaceState.xcuserstate
multiverse/.DS_Store
multiverse/multiverse/.DS_Store
backend/.SubscriptionKey_6RCN2GN648.p8
backend/postgres/pgdata
backend/__pycache__/*
backend/.env
backend/.venv
